{% if(backups is not empty) %}
    <div class="database_backup list">
        <div class="tl_tbox">
            <table class="tl_listing">
                <thead>
                <tr>
                    <th class="tl_folder_tlist">{{ 'database_backup_date' | trans }}</th>
                    <th class="tl_folder_tlist">{{ 'database_backup_size' | trans }}</th>
                    <th class="tl_folder_tlist"></th>
                </tr>
                </thead>
                <tbody>
                {% for backup in backups %}
                    {% set cssClass = 'even' %}
                    {% if loop.index is odd %}
                        {% set cssClass = 'odd' %}
                    {% endif %}
                    <tr class="{{ cssClass }}">
                        <td class="nw tl_file_list" width="40%">
                            {{ backup.dateTime }}
                        </td>
                        <td class="tl_file_list" width="40%">
                            {{ backup.size }}
                        </td>
                        <td class="tl_file_list" width="20%">
                            {% set url_params = { 'download': backup.fileName } %}
                            <a href="{{ path('bwein_contao_database_backup', url_params) }}"
                               title="{{ 'database_backup_download' | trans }} {{ backup.dateTime }}"
                               class="tl_submit download">
                                {{ 'database_backup_download' | trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
