{% if(backups is not empty) %}
    <div class="database_backup list">
        <div class="tl_tbox">
            <table class="tl_listing">
                <thead>
                <tr>
                    <th>{{ 'database_backup_date' | trans }}</th>
                    <th>{{ 'database_backup_size' | trans }}</th>
                    <th>{{ 'database_backup_type' | trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for backup in backups %}
                    {% set cssClass = 'even' %}
                    {% if loop.index is odd %}
                        {% set cssClass = 'odd' %}
                    {% endif %}
                    <tr class="{{ cssClass }}">
                        <td class="nw" width="30%">
                            {{ backup.dateTime }}
                        </td>
                        <td width="25%">
                            {{ backup.size }}
                        </td>
                        <td width="25%">
                            {{ ('database_backup_type_options.'~backup.type) | trans }}
                        </td>
                        <td width="20%">
                            {% set url_params = { 'backupType': backup.type, 'download': backup.fileName } %}
                            <a href="{{ path('bwein_contao_database_backup', url_params) }}"
                               title="{{ 'database_backup_download' | trans }} {{ backup.dateTime }}"
                               class="tl_submit download">
                                {{ 'database_backup_download' | trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
